<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/pages/template.xhtml">

	<ui:define name="body">
		<f:view id="vAdministracion">

			<div class="polla_panel_tab_ancho">

				<p:tabView id="administracionTabView">

					<p:tab id="informe" title="Informe">
						<div class="polla_area">
							<p:growl id="msgsPartido" showDetail="true" />

							<h:panelGrid columns="2" cellpadding="5">
								<p:outputLabel for="idPartidoInforme" value="Id partido" />
								<h:inputText value="#{administracionBean.idPartidoInforme}"
									id="idPartidoInforme" />
							</h:panelGrid>

							<p:separator />

							<p:commandButton value="Consultar marcadores" update="tbl"
								actionListener="#{administracionBean.consultarMarcadores()}"
								icon="ui-icon-check" />

							<p:separator />

							<p:dataTable id="tbl" value="#{administracionBean.marcadores}"
								var="marcador" style="margin-bottom:20px">

								<p:column>
									<f:facet name="header">
										<h:outputText value="Usuario" />
									</f:facet>
									<h:outputText value="#{marcador.idusuario.nombres} #{marcador.idusuario.apellidos}" />
								</p:column>

								<p:column>
									<f:facet name="header">
										<h:outputText
											value="#{administracionBean.partido.idequipoUno.nombre}" />
									</f:facet>
									<h:outputText value="#{marcador.marcadorUno}" />
								</p:column>

								<p:column>
									<f:facet name="header">
										<h:outputText
											value="#{administracionBean.partido.idequipoDos.nombre}" />
									</f:facet>
									<h:outputText value="#{marcador.marcadorDos}" />
								</p:column>

							</p:dataTable>
							
															<p:separator />

							<p:commandButton value="Enviar informe" update="msgsPartido"
								actionListener="#{administracionBean.enviarInforme()}"
								icon="ui-icon-check" />
						</div>
					</p:tab>

					<p:tab id="cerrarPartido" title="Cerrar Partido">
						<div class="polla_area">
							<p:growl id="msgsCerrarPartido" showDetail="true" />

							<h:panelGrid columns="2" cellpadding="5">
								<p:outputLabel for="idPartido" value="Id partido" />
								<h:inputText value="#{administracionBean.idPartido}"
									id="idPartido" />
							</h:panelGrid>

							<p:separator />

							<p:commandButton value="Consultar partido" update="panel"
								actionListener="#{administracionBean.consultarPartido()}"
								icon="ui-icon-check" />

							<p:separator />

								<h:panelGrid columns="2" cellpadding="5" id="panel">

									<h:outputText value="#{administracionBean.equipoUno}" />
									<p:inputText value="#{administracionBean.resultadoUno}" />

									<h:outputText value="#{administracionBean.equipoDos}" />
									<p:inputText value="#{administracionBean.resultadoDos}" />

								</h:panelGrid>
								
								<p:separator />

							<p:commandButton value="Cerrar partido" update="msgsCerrarPartido"
								actionListener="#{administracionBean.cerrarPartido()}"
								icon="ui-icon-check" />
						</div>
					</p:tab>

					<p:tab id="creacionUsuario" title="Crear Usuario">

						<div class="polla_area">
							<p:growl id="msgs" showDetail="true" />

							<p:panel header="Creación de Usuarios"
								style="margin-bottom:10px;" id="panelCreacionUsuario">
								<h:panelGrid columns="2" cellpadding="5">

									<h:outputText value="Identificacion: *" />
									<p:inputText id="identificacion"
										value="#{administracionBean.identificacion}" />

									<h:outputText value="Nombres: *" />
									<p:inputText id="nombre" value="#{administracionBean.nombres}" />

									<h:outputText value="Apellidos: *" />
									<p:inputText id="apellidos"
										value="#{administracionBean.apellidos}" />

									<h:outputText value="Correo: *" />
									<p:inputText id="correo" value="#{administracionBean.correo}" />

									<h:outputLabel for="selectHabilitado" value="Habilitado : *" />

									<p:selectOneMenu id="selectHabilitado"
										value="#{administracionBean.habilitado}">
										<f:selectItem itemLabel="Si" itemValue="S" />
										<f:selectItem itemLabel="No" itemValue="N" />
									</p:selectOneMenu>

									<h:outputText value="Login: *" />
									<p:inputText id="login" value="#{administracionBean.login}" />

									<h:outputLabel for="pwd1" value="Password 1 : *" />
									<p:password id="pwd1" value="#{administracionBean.password}" />

									<h:outputLabel for="pwd2" value="Password  2 : *" />
									<p:password id="pwd2" value="#{administracionBean.password2}" />

								</h:panelGrid>

								<p:separator />

								<p:commandButton value="Crear Usuario"
									update="msgs, panelCreacionUsuario"
									actionListener="#{administracionBean.createUser()}"
									id="btnSubmit" />

							</p:panel>
						</div>
					</p:tab>
				</p:tabView>

			</div>
		</f:view>
	</ui:define>
</ui:composition>