<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/pages/template.xhtml">

	<ui:define name="body">
		<f:view id="vResultadosMundial">

			<div class="polla_area">
				<p:accordionPanel value="#{marcadoresBean.fases}" var="fase">
					<p:tab title="#{fase.nombre}">
						<p:dataGrid var="partido" value="#{fase.partidoList}" columns="1"
							rows="8" paginator="false">
							<h:panelGrid columns="3" width="500" styleClass="polla_panel"
								columnClasses="area_alignmentLeft, area_alignmentRight"
								id="panelPartido">
								<h:panelGroup>
									<h:panelGrid columns="3"
										columnClasses="image_left, alignmentLeft, alignmentRight"
										width="200">
										<p:graphicImage
											value="/images/escudos/#{partido.idequipoUno.escudo}"
											styleClass="image_left" />

										<h:outputText value="#{partido.idequipoUno.nombre}" id="slide" />
										<h:inputText styleClass="marcador-input" disabled="#{not marcadoresBean.validarFecha(partido.idpartido)}"
											value="#{marcadoresBean.marcadoresTemporales.get(partido.idpartido).marcadorUno}" />
									</h:panelGrid>
								</h:panelGroup>
								<h:panelGroup>
									<h:panelGrid columns="3"
										columnClasses="alignmentLeft, alignmentRight, image_right"
										width="200">
										<h:inputText styleClass="marcador-input" disabled="#{not marcadoresBean.validarFecha(partido.idpartido)}"
											value="#{marcadoresBean.marcadoresTemporales.get(partido.idpartido).marcadorDos}" />

										<h:outputText value="#{partido.idequipoDos.nombre}"
											id="slide2" />

										<p:graphicImage
											value="/images/escudos/#{partido.idequipoDos.escudo}"
											styleClass="image_right" />
									</h:panelGrid>
								</h:panelGroup>

								<p:commandLink rendered="#{marcadoresBean.validarFecha(partido.idpartido)}"
									action="#{marcadoresBean.guardarMarcador(partido.idpartido)}"
									ajax="true" update=":formLoggin:growl">
									<h:graphicImage value="/images/Save-icon.png"
										title="Guardar marcador" />
								</p:commandLink>


							</h:panelGrid>

						</p:dataGrid>

					</p:tab>
				</p:accordionPanel>
			</div>

		</f:view>
	</ui:define>
</ui:composition>