<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/pages/template.xhtml">

	<ui:define name="body">
		<f:view id="vPerfil">

			<div class="polla_area">
				<p:growl id="msgs" showDetail="true" />

				<p:panel header="Cambio de contraseña" style="margin-bottom:10px;"
					id="panelCambioContrasena">
					<h:panelGrid columns="2" cellpadding="5">

						<h:outputLabel for="pwd" value="Contraseña actual : *" />
						<p:password id="pwd" value="#{perfilBean.password}" />

						<h:outputLabel for="pwd1" value="Contraseña nueva : *" />
						<p:password id="pwd1" value="#{perfilBean.password1}" />

						<h:outputLabel for="pwd2" value="Repita contraseña nueva : *" />
						<p:password id="pwd2" value="#{perfilBean.password2}" />

					</h:panelGrid>

					<p:separator />

					<p:commandButton value="Cambiar Contraseña"
						update="msgs, panelCambioContrasena"
						actionListener="#{perfilBean.cambiarContrasena()}" id="btnSubmit" />

				</p:panel>
			</div>

		</f:view>
	</ui:define>
</ui:composition>