<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/pages/template.xhtml">

	<ui:define name="body">
		<f:view id="vPerfil">

			<div class="premios_area">

				<p:panel header="Primer puesto"
					style="margin-bottom:10px;" id="panelPremios">

					<div class="premios_text">

						<h:outputText value="#{premiosBean.pozo}" />

					</div>
				</p:panel>

					<p:panel header="Segundo puesto"
						style="margin-bottom:10px;" id="panelPremiosSegundo">

						<div class="premios_text_segundo">

							<h:outputText value="#{premiosBean.pozoSegundo}" />

						</div>
					</p:panel>
				</div>
		</f:view>
	</ui:define>
</ui:composition>