<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/pages/template.xhtml">

	<ui:define name="body">
		<f:view id="vPerfil">

			<div class="ranking_area">

				<p:panel header="Ranking Polla" style="margin-bottom:10px;"
					id="panelRanking">

					<p:dataTable var="usuario"
						value="#{rankingBean.listaPosicionUsuario}">
						<p:column headerText="Nombre">
							<h:outputText value="#{usuario.usuario.nombres}" />
						</p:column>
						<p:column headerText="Apellidos">
							<h:outputText value="#{usuario.usuario.apellidos}" />
						</p:column>
						<p:column headerText="1ª fase">
							<h:outputText value="#{usuario.primeraFase}" />
						</p:column>
						<p:column headerText="octavos">
							<h:outputText value="#{usuario.octavos}" />
						</p:column>
						<p:column headerText="cuartos">
							<h:outputText value="#{usuario.cuartos}" />
						</p:column>
						<p:column headerText="semifinal">
							<h:outputText value="#{usuario.semifinales}" />
						</p:column>
						<p:column headerText="tercero y cuarto">
							<h:outputText value="#{usuario.terceroCuarto}" />
						</p:column>
						<p:column headerText="final">
							<h:outputText value="#{usuario.puntosFinal}" />
						</p:column>
						<p:column headerText="Puntos">
							<h:outputText value="#{usuario.puntosTotal}" />
						</p:column>
						<p:column style="width:4%;text-align: center">
							<p:commandButton update=":formDialogUser:userDetail"
								oncomplete="PF('userDialog').show()" icon="ui-icon-search"
								title="View">
								<f:setPropertyActionListener value="#{usuario.usuario}"
									target="#{rankingBean.usuarioSeleccionado}" />
							</p:commandButton>
						</p:column>
					</p:dataTable>
				</p:panel>
			</div>

		</f:view>
	</ui:define>
</ui:composition>