<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/pages/template.xhtml">

	<ui:define name="body">
		<f:view id="vReglas">

			<div class="polla_panel_tab_ancho">

				<p:tabView id="tabPuntuacion">

					<p:tab id="puntuacion" title="Puntuación">

							<p:ring id="ringPuntuacion" value="#{reglasBean.reglas}"
								var="regla">
								<p:outputPanel style="text-align: center;" layout="block">
            						#{regla.titulo}
            						<br />
            						<p:commandButton update=":formDialogRules:reglaDetail" icon="ui-icon-search" title="Ver" oncomplete="PF('reglaDialog').show();">
						                <f:setPropertyActionListener value="#{regla}" target="#{reglasBean.reglaSeleccionada}" />
						            </p:commandButton>
        						</p:outputPanel>
							</p:ring>

					</p:tab>

					<p:tab id="comoJugar" title="Cómo Jugar">

						<div class="polla_area">
						
						<br />
				<h:outputText value="El usuario debe subir los marcadores para cada uno de los partidos del mundial, 
				a medida que avanza el mundial se desbloquearan las fases según el calendario, para subir un marcador 
				deberá hacerse por el menú Marcadores y buscar el partido que se desea modificar, el usuario tendrá plazo 
				para realizar la modificación del marcador hasta veinte minutos antes de empezar el partido, diez minutos 
				antes de arrancar cada partido les llegara un correo a todos los usuarios con los marcadores que coloco 
				cada usuario para dicho partido."
					style="color:Blue" />
				<br />
						
						</div>
					</p:tab>
				</p:tabView>

			</div>

		</f:view>
	</ui:define>
</ui:composition>