body {
	background-image: url('../images/fondo3.jpg');
}

.my-dialogs {
  margin-top: 65px;
  max-width: 500px;
}

.my-dialogs_ranking {
  margin-top: 15px;
  max-width: 750px;
}

.ui-icon-save { 
	width:48px;
	height:48px;
	background-position: 0 0 !important;
    background-image: url('../images/Save-icon.png') !important; 
}

.marcador-input{
	width: 25px;
}

.polla_panel_tab {
	border-style: solid;
	border-width: thin;
	color: #666;
	margin-top: 70px;
	margin-bottom: 15px;
	width: 700px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.polla_panel_tab_ancho {
	border-style: solid;
	border-width: thin;
	color: #666;
	margin-top: 70px;
	margin-bottom: 15px;
	width: 800px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.polla_area {
	border-style: solid;
	border-width: thin;
	color: #666;
	margin-top: 10px;
	margin-bottom: 15px;
	width: 585px;
	padding: 15px 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.polla_area_ranking {
	border-style: solid;
	border-width: thin;
	color: #666;
	margin-top: 10px;
	margin-bottom: 15px;
	width: 585px;
	padding: 15px 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

.ranking_area {
	border-style: solid;
	border-width: thin;
	color: #666;
	margin-top: 10px;
	margin-bottom: 15px;
	width: 850px;
	padding: 15px 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.premios_area {
	border-style: solid;
	border-width: thin;
	color: #666;
	margin-top: 10px;
	margin-bottom: 15px;
	width: 750px;
	padding: 15px 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.premios_area_segundo {
	border-style: solid;
	border-width: thin;
	color: #666;
	margin-top: 10px;
	margin-bottom: 15px;
	width: 700px;
	padding: 15px 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.premios_text {
	font-size: 210px;
	font: oblique bold cursive;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.premios_text_segundo {
	font-size: 150px;
	font: oblique bold cursive;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-left: 100px;
}

.polla_panel {
	background-color: #E6E6E6;
}

.alignmentLeft {
 text-align : left;
 width: 200px;
 font: oblique 120% cursive;
}

.alignmentRight {
 text-align : right;
 width: 200px;
 font: oblique 120% cursive;
}

.area_alignmentLeft {
 float : left;
}

.area_alignmentRight {
 float : right;
}

.image_left{
	float: left;
	width: 70px;
}

.image_right{
	float: right;
	width: 70px;
}
